
<div class="container">
  <%= form_for(resource, as: resource_name,
                         url: confirmation_path(resource_name),
                         html: { method: :post, class: "form-signin" }) do |f| %>
    <%= devise_error_messages! %>
    <h2 class="form-signin-header">Resend confirmation instructions</h2>
    <div class="field">
      <%= f.email_field :email, autofocus: true,
                                value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                                class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions", class: "btn btn-primary btn-block btn-large" %>
    </div>
    <%= render "users/shared/links" %>
  <% end %>
</div>
