<% provide :title, "Home" %>
<div class="container">
  <div class="row">
    <div class="col-sm-4 section post-form">
      <a href="<%= user_path @current_user %>">
        <h3><%= current_user.name %></h3>
      </a>
      <button class="tab btn btn-secondary" id="deer">Deer</button>
      <button class="tab btn btn-secondary" id="scout">Scout</button>
      <%= render 'posts/deer_form' %>
      <%= render 'posts/scout_form' %>
      <div class="map" id="map"></div>
      <button id="remove_pin" class="btn btn-secondary" type="button">Remove Pin</button>
    </div>
    <div class="col-sm-6">
      <%= render 'posts/feed' %>
    </div>
  </div>
</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjwq7jh0cqrdKuqFlQ5GDX3ldFTbChJ8M&callback=initMap">
</script>
