<div class="comment">
  <h5><a href="<%= user_path(comment.user) %>"><%= comment.user.name %></a></h5>
  <p><%= comment.content %></p>
  <strong>Posted <%= time_ago_in_words(comment.created_at) %> ago</strong>
  <% if current_user?(comment.user) %>
    <span><%= link_to "delete", comment_path(comment.id), method: :delete %></span>
  <% end %>
  <div class="Comment like" id="<%= comment.id %>">
    <%= render partial: 'likes/like_form', locals: { likeable: comment } %>
  </div>

</div>
