
<div class="container">
  <%= form_for(resource, as: resource_name,
                         url: unlock_path(resource_name),
                         html: { method: :post, class: "form-signin" }) do |f| %>
    <%= devise_error_messages! %>
    <h2 class="form-signin-header">Resend unlock instructions</h2>
    <div class="field">
      <%= f.email_field :email, autofocus: true,
                                class: "form-control",
                                placeholder: "Email" %>
    </div>

    <div class="actions">
      <%= f.submit "Resend unlock instructions", class: "btn btn-primary btn-block btn-large" %>
    </div>
    <%= render "users/shared/links" %>
  <% end %>
</div>
