<div class="post">
  <h3><%= post.user.name %></h3>
  <p><%= post.content %></p>
  <strong><%= pluralize(post.likes.count, "like") %></strong>
  <strong><%= render 'likes/like_form', object: post %></strong>
  <div class="comments">
    <%= "Comments" if post.comments.any? %>
    <%= render post.comments %>
    <%= render "shared/comment_form", object: post %>
  </div>
  <strong>Posted <%= time_ago_in_words(post.created_at) %> ago</strong>
  <% if current_user?(post.user) %>
    <%= link_to "delete post", post_path(post.id), method: :delete %>
  <% end %>
</div>
