<div class="post row section">
  <h3><%= post.user.name %></h3>
  <p><%= post.content %></p>
  <%= image_tag post.picture.url if post.picture? %>
  <div class="like">
    <div><%= pluralize(post.likes.count, "like") %></div>
    <span><%= render 'likes/like_form', object: post %></span>
  </div>

  <div class="comments">
    <%= "Comments" if post.comments.any? %>
    <%= render post.comments %>
    <%= render "shared/comment_form", object: post %>
  </div>
  <strong>Posted <%= time_ago_in_words(post.created_at) %> ago</strong>
  <% if current_user?(post.user) %>
    <%= link_to "delete", post_path(post.id), method: :delete %>
  <% end %>
</div>
