<div id="scout_form">
  <%= form_for(@post, html: { id: 'new_scout_post' }) do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <%= f.hidden_field :location, value: '', class: "form_location" %>
    <div><%= f.text_area :content, placeholder: "Where did you go? What did you see?" %></div>
    <div><%= f.submit "Post", class: "btn btn-primary" %></div>
    <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png',
                                 class: "btn" %>
    </span>
  <% end %>
</div>

<script type="text/javascript">
  $('#post_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
