<div class="container">
  <%= form_for(resource, as: resource_name,
                         url: registration_path(resource_name),
                         html: { method: :put, class: "form-signin" } ) do |f| %>
    <%= devise_error_messages! %>
    <h2 class="form-signin-header">Edit <%= resource_name.to_s.humanize %></h2>
    <div class="field">
      <%= f.text_field :name, autofocus: true,
                              class: "form-control",
                              placeholder: "Name" %>
    </div>

    <div class="field">
      <%= f.label :birthdate %>
      <%= f.date_select :birthdate, start_year: 1950,
                                    end_year: Date.today.year - 5,
                                    class: "form-control" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true,
                                class: "form-control",
                                placeholder: "Email" %>
    </div>
    <div class="picture field">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png',
                                 class: "btn" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "btn btn-large btn-primary btn-block" %>
    </div>
    <%= link_to "Back", :back %>


  <% end %>

  <div class="actions">
    Unhappy? <%= button_to "Cancel my account",
                  registration_path(resource_name),
                  data: { confirm: "Are you sure?" },
                  method: :delete,
                  class: "btn btn-danger" %>
  </div>
</div>

<script type="text/javascript">
  $('#user_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
