<div class="container">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h2 class="form-signin-header">Sign up</h2>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.text_field :name, autofocus: true,
                              class: "form-control",
                              placeholder: "Name" %>
    </div>

    <div class="field">
      <%= f.label :birthdate %>
      <%= f.date_select :birthdate, start_year: 1950,
                                    end_year: Date.today.year - 5,
                                    class: "form-control" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true,
                                class: "form-control",
                                placeholder: "Email" %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
      <% end %><br />
      <%= f.password_field :password,
                            autocomplete: "off",
                            class: "form-control",
                            placeholder: "Password" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off",
                                                   class: "form-control",
                                                   placeholder: "Confirm Password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-large btn-primary btn-block" %>
    </div>
    <%= render "users/shared/links" %>
  <% end %>
</div>
